<h2 mat-dialog-title>Add an Answer</h2>
<mat-dialog-content class="mat-typography">
  <span>
    Type your answer:
  </span>
  <input type="text"
         [(ngModel)]="data.answer">
  <!--         [value]="data.answer"-->
  <div>
    <label for="correct">correct</label>
    <mat-checkbox id="correct"
                  [(ngModel)]="data.correct"></mat-checkbox>
<!--    [value]="data.correct"-->
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Add</button>
</mat-dialog-actions>
