<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="questionForm" (ngSubmit)="onSubmit()" #f>
      <div class="row">
        <div class="col-xs-12">
          <hr>
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!questionForm.valid">Save Changes</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="questionText">Question Text: </label>
            <textarea
              type="text"
              id="questionText"
              formControlName="questionText"
              class="form-control">
            </textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="points">Points</label>
            <input
              type="number"
              id="points"
              formControlName="points"
              class="form-control numberInput"

              width="50px">
<!--              #imagePath>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="questionType">Question Type: </label>
<!--            <input-->
<!--              type="text"-->
<!--              id="questionType"-->
<!--              formControlName="questionType"-->
<!--              class="form-control">-->
            <select id="questionType"
                    formControlName="questionType" >
              <option value="RADIO_BUTTON">Radio Button</option>
              <option value="SELECT_BOX">Select Box</option>
            </select>
          </div>
        </div>
      </div>
      <div>
<!--        <h4>Your answers</h4>-->
<!--        <button-->
<!--          class="btn btn-primary"-->
<!--          (click)="onAddAnswer()"-->
<!--          type="button">Add an answer</button>-->
        <button mat-button (click)="openDialog()" type="button">Add an Answer</button>

        <div formArrayName="answers">

          <div *ngFor="let answerControl of getAnswerControls(); let i = index"  [formGroupName]="i">
<!--            <app-answer *ngFor="let answerControl of getAnswerControls(); let i = index"  [formGroupName]="i"></app-answer>-->
            <input type="hidden" formControlName="id">
            <input type="hidden" formControlName="questionId">
<!--            readOnly mozda?-->
            <input formControlName="answer">
            <button class="btn btn-danger" type="button" (click)="onDelete(answerControl.value.questionId, answerControl.value.id)">Delete</button>
            <mat-checkbox formControlName="correct"
            >correct</mat-checkbox>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
