<a
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ question.questionText }}</h4>
    <p class="list-group-item-text">{{ question.questionType }}</p>
  </div>
<!--  Fale odgovoriii-->
</a>
