<div class="row">

  <div class="col-xs-12">
    <hr>
    <button class="btn btn-success"
            (click)="onNewQuestion()">New Question</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
<!--    <app-question-item-->
<!--      *ngFor="let questionEl of questions; let i = index"-->
<!--      [question]="questionEl"-->
<!--      [index]="i"></app-question-item>-->
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
        <table class="table table-bordered table-striped" width="220px">
          <thead>
          <tr>
            <th>Question</th><th>Points</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let questionEl of questions; let i = index">
            <td>{{questionEl.questionText}}</td>
            <td>{{questionEl.points}}</td>
            <td><button class="btn btn-warning" (click)="goToEdit(questionEl.id)"><span class="glyphicon glyphicon-pencil"></span></button></td>
            <td><button class="btn btn-danger" (click)="deleteQuestion(questionEl.id)"><span class="glyphicon glyphicon-trash"></span></button></td>
          </tr>
          </tbody>
        </table>
        <mat-paginator [length]="length"
                       [pageSize]="5"
                       [showFirstLastButtons]="true"
                       (page) = "sendRequest($event)"
        >
        </mat-paginator>
<!--        <mat-paginator [length]="resultsLength"-->
<!--                       class="pull-right pagination"-->
<!--                       [pageSize]="10"-->
<!--                       [showFirstLastButtons]="true">-->
<!--        </mat-paginator>-->
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
