<div class="row">
  <div class="col-xs-12">
    <h2>Tests</h2>
    <table class="table table-bordered table-striped" width="220px">
      <thead>
      <tr>
        <th>Number</th><th>Title</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let test of tests; let i = index">
        <td>{{i + 1}}</td>
        <td>{{test.title}}</td>
<!--        <td><button class="btn btn-warning" (click)="goToEdit(questionEl.id)"><span class="glyphicon glyphicon-pencil"></span></button></td>-->
<!--        <td><button class="btn btn-danger" (click)="deleteQuestion(questionEl.id)"><span class="glyphicon glyphicon-trash"></span></button></td>-->
      </tr>
      </tbody>
    </table>
  </div>
</div>

