<hr>
<div>
  <label>Test titile: </label>
  <input type="text" [(ngModel)]="test.title">
  <hr>
  <table class="table table-bordered table-striped" width="220px">
    <thead>
    <tr>
      <th>Question Title</th><th>Points</th><th>Choose</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let questionEl of questions; let i = index">
      <td>{{questionEl.questionText}}</td>
      <td>{{questionEl.points}}</td>
      <td><input type="checkbox" [checked]="questionEl.selected" (change)="reactOnChange(questionEl)"></td>
    </tr>
    </tbody>
  </table>

  <mat-paginator [length]="length"
                 [pageSize]="2"
                 [showFirstLastButtons]="true"
                 (page) = "sendRequest($event)"
  >
  </mat-paginator>
  <hr>
  <button class="btn btn-primary" (click)="onCreateTest()">Create!</button>
<!--  <input type="button" value="Create!">-->
<!--  <ol>-->
<!--    <li *ngFor="let question of questions">{{question.questionText}}</li>-->
<!--  </ol>-->

<!--  <div *ngFor="let question in questions">-->
<!--&lt;!&ndash;    <input type="text" readonly value="question.questionText">&ndash;&gt;-->
<!--&lt;!&ndash;    <h3>{{question.questionText}}</h3>&ndash;&gt;-->
<!--    <span>{{question.points}}</span>-->
<!--    <input type="checkbox">-->
<!--  </div>-->
</div>
