<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <hr>
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!questionForm.valid">Save Question</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="questionText">Question Text: </label>
            <textarea
              type="text"
              id="questionText"
              formControlName="questionText"
              class="form-control">
            </textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="points">Points</label>
            <input
              type="number"
              id="points"
              formControlName="points"
              class="form-control numberInput"

              width="50px">
            <!--              #imagePath>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="questionType">Question Type: </label>
            <!--            <input-->
            <!--              type="text"-->
            <!--              id="questionType"-->
            <!--              formControlName="questionType"-->
            <!--              class="form-control">-->
            <select id="questionType"
                    formControlName="questionType" >
              <option value="RADIO_BUTTON">Radio Button</option>
              <option value="SELECT_BOX">Select Box</option>
            </select>
          </div>
        </div>
      </div>
        <!--        <h4>Your answers</h4>-->
        <button
          class="btn btn-primary"
          (click)="onAddAnswer()"
          type="button">Add an answer</button>
        <div formArrayName="answers">

          <div *ngFor="let answerControl of getAnswerControls(); let i = index"  [formGroupName]="i">
<!--            DA LI HIDDEN TU DOLE U NGFOR-->
            <input type="hidden" formControlName="questionId">
            <!--       <app-answer *ngFor="let answerControl of getAnswerControls(); let i = index"  [formGroupName]="i"></app-answer>-->
            <input formControlName="answer">
            <button class="btn btn-danger">Delete</button>
            <mat-checkbox formControlName="correct"
            >correct</mat-checkbox>
          </div>
        </div>
<!--        <div-->
<!--          class="form-group"-->
<!--          *ngFor="let answerControl of getAnswerControls(); let i = index">-->
<!--          <input type="text" class="form-control" [formControlName]="i">-->
<!--        </div>-->
<!--        <app-answer ></app-answer>-->
    </form>
  </div>
</div>

