<div class="row">
  <div class="col-md-5">
    <app-question-list></app-question-list>
  </div>
<!--  <div class="col-md-7">-->
<!--&lt;!&ndash;    <router-outlet></router-outlet>&ndash;&gt;-->
<!--  </div>-->
</div>
